<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="tourisme@yourwebsite.undefined" name="tourisme" createdate="2017-09-12">
        <version date="2017-09-12">0.1pre</version>
        <label lang="en_US">tourisme</label>
        <description lang="en_US" />
        <license URL="">All rights reserved</license>
        <copyright>2011 your name</copyright>
        <creator name="your name" email="your-email@yourwebsite.undefined" active="true"/>
        <!--<contributor name="hisname" email="hisemail@yoursite.undefined" active="true" since="" role=""/>-->
        <homepageURL>http://www.yourwebsite.undefined</homepageURL>
    </info>
    <dependencies>
        <jelix minversion="1.6.15" maxversion="1.6.*"/>
    </dependencies>
</module>
